.header {
  background-color: var(--accent-bg-color);
  position: relative;
  padding: 30px 10px;
}
.header-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.logo {
  --logo-font-size: 3rem;
  font-family: 'Revalia', 'Arial Narrow', Arial, sans-serif;
  font-size: 3rem;
  line-height: 1.3;
  color: var(--accent-color);
  position: relative;
  bottom: calc(var(--logo-font-size) / 5);
}
.logo-link {
  display: block;
  color: inherit;
  text-decoration: none;
}
.nav {
}
.nav-list {
  display: none;
  flex-direction: column;
  align-items: center;
  background-color: var(--accent-bg-color);
  gap: 10px;
}

.hidden-display {
  display: flex;
  position: absolute;
  padding: 10px;
  top: calc(100% - 20px);
  left: 0;
  right: 0;
}

.burger {
  --burger-size: 40px;
  width: var(--burger-size);
  height: var(--burger-size);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 8px;
  border: none;
  position: relative;
}
.burger svg {
  position: absolute;
  top: 0;
  left: 0;
}
.burger-open:hover svg *,
.burger-open:focus svg * {
  fill: var(--accent-text-color);
}
.nav-list-item {

}
.nav-link {
  display: block;
  color: inherit;
  text-decoration: none;
  line-height: 1.6;
  text-transform: uppercase;
}

.nav-link:hover,
.nav-link:focus {
  color: var(--accent-color);
  font-weight: 500;
}
@media screen and (min-width: 768px) {
  .burger {
    display: none;
  }

  .hidden-display {
    position: static;
    padding: 0;
  }

  .nav-list {
    display: flex;
    flex-direction: row;
    gap: 2rem;
  }
}